* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
p {
  line-height: 1.5;
}
strong {
  color: hsl(160deg, 100%, 30%);
}
.max-width-wrapper {
  max-width: 650px;
  margin: 0 auto;
}
.intro-chunk {
  max-width: 320px;
  padding: 16px;

}
main {
  background-color: hsl(0deg, 0%, 40%);
  border-top: 4px solid hsl(0deg, 0%, 60%);
  padding-bottom: 32px;
}
.card {
  background-color: white;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 32px;
  border-bottom: 4px solid hsl(0deg, 0%, 60%);
}
h2 {
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;
  padding: 8px;
  padding-left: 20px;
  margin-left: -20px;
  border-bottom: 4px solid hsl(45deg, 100%, 40%);
  margin-top: 8px;
}